/*

    Name:       Base16 Unikitty Light
    Author:     Josh W Lewis

    CodeMirror template by Jan T. Sott (https://github.com/idleberg)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-unikitty-light.CodeMirror {background: #ffffff; color: #4f484d;}
.cm-s-base16-unikitty-light div.CodeMirror-selected {background: #e1e0e1 !important;}
.cm-s-base16-unikitty-light .CodeMirror-gutters {background: #ffffff; border-right: 0px;}
.cm-s-base16-unikitty-light .CodeMirror-linenumber {color: #a7a3a6;}
.cm-s-base16-unikitty-light .CodeMirror-cursor {border-left: 1px solid #898588 !important;}

.cm-s-base16-unikitty-light span.cm-comment {color: #c720ca;}
.cm-s-base16-unikitty-light span.cm-atom {color: #a232dc;}
.cm-s-base16-unikitty-light span.cm-number {color: #a232dc;}

.cm-s-base16-unikitty-light span.cm-property, .cm-s-base16-unikitty-light span.cm-attribute {color: #17ad98;}
.cm-s-base16-unikitty-light span.cm-keyword {color: #d8137f;}
.cm-s-base16-unikitty-light span.cm-string {color: #dc8a0e;}

.cm-s-base16-unikitty-light span.cm-variable {color: #17ad98;}
.cm-s-base16-unikitty-light span.cm-variable-2 {color: #735bf1;}
.cm-s-base16-unikitty-light span.cm-def {color: #d65407;}
.cm-s-base16-unikitty-light span.cm-error {background: #d8137f; color: #898588;}
.cm-s-base16-unikitty-light span.cm-bracket {color: #4f484d;}
.cm-s-base16-unikitty-light span.cm-tag {color: #d8137f;}
.cm-s-base16-unikitty-light span.cm-link {color: #a232dc;}

.cm-s-base16-unikitty-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
