// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #69666b;
@syntax-cursor-color: #69666b;
@syntax-selection-color: #e1e0e1;
@syntax-background-color: #ffffff;

// Guide colors
@syntax-wrap-guide-color: #e1e0e1;
@syntax-indent-guide-color: #e1e0e1;
@syntax-invisible-character-color: #e1e0e1;

// For find and replace markers
@syntax-result-marker-color: #e1e0e1;
@syntax-result-marker-color-selected: #69666b;

// Gutter colors
@syntax-gutter-text-color: #69666b;
@syntax-gutter-text-color-selected: #69666b;
@syntax-gutter-background-color: #ffffff;
@syntax-gutter-background-color-selected: rgba(176, 176, 176, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #7864fa;
@syntax-color-added: #17ad98;
@syntax-color-modified: #dc8a0e;
@syntax-color-removed: #d8137f;