// Atom template by Jan T. Sott (https://github.com/idleberg/)
// Base16 scheme and Base16 Builder by Chris Kempson (https://github.com/chriskempson)

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: #c3c2c4;
@syntax-cursor-color: #c3c2c4;
@syntax-selection-color: #69666b;
@syntax-background-color: #2e2a31;

// Guide colors
@syntax-wrap-guide-color: #878589;
@syntax-indent-guide-color: #878589;
@syntax-invisible-character-color: #878589;

// For find and replace markers
@syntax-result-marker-color: #878589;
@syntax-result-marker-color-selected: #c3c2c4;

// Gutter colors
@syntax-gutter-text-color: #c3c2c4;
@syntax-gutter-text-color-selected: #c3c2c4;
@syntax-gutter-background-color: #2e2a31;
@syntax-gutter-background-color-selected: rgba(80, 80, 80, 0.33);

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: #7864fa;
@syntax-color-added: #17ad98;
@syntax-color-modified: #dc8a0e;
@syntax-color-removed: #d8137f;