/*

    Name:       Base16 Unikitty Light
    Author:     Josh W Lewis

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Uncomment to use a custom font
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Custom Font Name', monospace !important;
}
*/

/* GLOBALS */
body {background-color: #ffffff;}
a {color: #735bf1;}

/* INTRO PAGE */
.toolbar_info, .list-container {color: #4f484d;}

/* NOTEBOOK */

/* comment out this line to bring the toolbar back */
div#maintoolbar, div#header {display: none !important;}

div#notebook {border-top: none;}

div.input_prompt {color: #a232dc;}
div.output_prompt {color: #c720ca;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #c4c2c3;
}
div.output_area pre {font-weight: normal; color: #6c666b;}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #898588 solid;
  color: #898588;
}
div.output_html { font-family: sans-serif; }
table.dataframe tr {border: 1px #6c666b;}

div.cell.selected {border-radius: 0px;}
div.cell.edit_mode {border-radius: 0px; border: thin solid #c720ca;}
div.text_cell_render, div.output_html {color: #6c666b;}

span.ansiblack {color: #4f484d;}
span.ansiblue {color: #149bda;}
span.ansigray {color: #a7a3a6;}
span.ansigreen {color: #17ad98;}
span.ansipurple {color: #a232dc;}
span.ansired {color: #d8137f;}
span.ansiyellow {color: #dc8a0e;}

div.output_stderr {background-color: #d8137f;}
div.output_stderr pre {color: #e1e0e1;}

.cm-s-ipython.CodeMirror {background: #ffffff; color: #4f484d;}
.cm-s-ipython div.CodeMirror-selected {background: #e1e0e1 !important;}
.cm-s-ipython .CodeMirror-gutters {background: #ffffff; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #a7a3a6;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #898588 !important;}

.cm-s-ipython span.cm-comment {color: #c720ca;}
.cm-s-ipython span.cm-atom {color: #a232dc;}
.cm-s-ipython span.cm-number {color: #a232dc;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #17ad98;}
.cm-s-ipython span.cm-keyword {color: #d8137f;}
.cm-s-ipython span.cm-string {color: #dc8a0e;}
.cm-s-ipython span.cm-operator {color: #c720ca;}
.cm-s-ipython span.cm-builtin {color: #a232dc;}

.cm-s-ipython span.cm-variable {color: #17ad98;}
.cm-s-ipython span.cm-variable-2 {color: #735bf1;}
.cm-s-ipython span.cm-def {color: #d65407;}
.cm-s-ipython span.cm-error {background: #d8137f; color: #898588;}
.cm-s-ipython span.cm-bracket {color: #6c666b;}
.cm-s-ipython span.cm-tag {color: #d8137f;}
.cm-s-ipython span.cm-link {color: #a232dc;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #4f484d !important;}
