/*

    Name:       Base16 Unikitty Dark
    Author:     Josh W Lewis

    highlight.js v8.0 template by Jan T. Sott (https://github.com/idleberg/base16-highlight.js)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Unikitty Comment */
.hljs-comment {
  color: #a29da0;
}

/* Unikitty Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.hljs-name,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #d8046f;
}

/* Unikitty Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #d65407;
}

/* Unikitty Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rule .hljs-attribute {
  color: #dc8a0e;
}

/* Unikitty Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #0fa994;
}

/* Unikitty Aqua */
.hljs-title,
.css .hljs-hexcolor {
  color: #279ed6;
}

/* Unikitty Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #7f42f5;
}

/* Unikitty Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #a717f1;
}

.diff .hljs-deletion,
.diff .hljs-addition {
  color: #31262e;
  display: inline-block;
  width: 100%;
}
.diff .hljs-deletion {
  background-color: #d8046f;
}
.diff .hljs-addition {
  background-color: #0fa994;
}
.diff .hljs-change {
  color: #7f42f5;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #31262e;
  color: #bfbbbd;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
