/* Unikitty Dark by Josh W Lewis (@joshwlewis) */

.base00-bg { background-color: #2e2a31; }
.base01-bg { background-color: #4a464d; }
.base02-bg { background-color: #666369; }
.base03-bg { background-color: #838085; }
.base04-bg { background-color: #9f9da2; }
.base05-bg { background-color: #bcbabe; }
.base06-bg { background-color: #d8d7da; }
.base07-bg { background-color: #f5f4f7; }
.base08-bg { background-color: #d8137f; }
.base09-bg { background-color: #d65407; }
.base0A-bg { background-color: #dc8a0e; }
.base0B-bg { background-color: #17ad98; }
.base0C-bg { background-color: #149bda; }
.base0D-bg { background-color: #796af5; }
.base0E-bg { background-color: #bb60ea; }
.base0F-bg { background-color: #c720ca; }

.base00 { color: #2e2a31; }
.base01 { color: #4a464d; }
.base02 { color: #666369; }
.base03 { color: #838085; }
.base04 { color: #9f9da2; }
.base05 { color: #bcbabe; }
.base06 { color: #d8d7da; }
.base07 { color: #f5f4f7; }
.base08 { color: #d8137f; }
.base09 { color: #d65407; }
.base0A { color: #dc8a0e; }
.base0B { color: #17ad98; }
.base0C { color: #149bda; }
.base0D { color: #796af5; }
.base0E { color: #bb60ea; }
.base0F { color: #c720ca; }
